*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky!important;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}

.title-h2{
    font-size: 40px;
    letter-spacing: 2px;
    color: #009CFF;
    font-weight: 600;
    border-bottom: 4px solid #009CFF;
}
.title-h3{
    font-size: 30px;
    letter-spacing: 1px;
    color: #009CFF;
    font-weight: 600;
}
p{
    font-size: 16px;
}

.btn-primary {
    border-radius: 2px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navbar-nav li a{
    font-size: 16px;
}
.navbar-nav li{
    margin-left: 8px;
}
.navbar-dark{
    background-color: rgba(0, 0, 0, .8)!important;
}
.logo-nav{
    border-radius: 10%;
    border: 1px solid #ddd;
    padding: 3px 5px;
}
.nav-item a.nav-link{
    font-size: 17px;
}
.nav-item a.nav-link:hover{
    color: #ddd!important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#home{
    position: relative;
    overflow: hidden;
}
.text-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-img div.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-img h1{
    font-size: 70px;
    transform: translateX(-200%);
}
.text-img h2{
    font-size: 50px;
    transform: translateX(250%);
}
.text-img h1,
.text-img h2{
    transition: transform 1.3s;
    font-weight: 300;
    line-height: 1.2;
}
.text-img h2.translate-0,
.text-img h1.translate-0{
    transform: translateX(0);
}
#home img{
    height: 100vh;
    width: 100%;
}
#home div{
    color: #ddd;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~ ABOUT ME ~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#about-me div.container > div{
    padding:30px;
}
.content-img-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.img-about-me{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed #ddd;
    border-radius: 5%;
    position: relative;
    background-color: #fff;
}
.img-about-me::after{
    content: 'Poner una foto';
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-text-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-text-presentacion h3{
    font-size: 22px;
    color: #009CFF;
}
.content-text-presentacion p{
    color: #121212;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~ MIS SKILLS ~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#skills{
    background-color: #ddd;
}
.icon-skill{
    margin-top: 10px;
    color: #121212;
    font-size: 18px;
}
.icon-skill > p{
    transition: transform .3s;
    margin: 0;
}
.icon-skill > p:hover{
    transform: scale(1.3);
}
.icon-skill i{
    font-size: 20px;
}
.icon-skill img{
    height: 20px;
}
.icon-skill img[alt="SQL SERVER"]{
    height: 35px;
}
.skills__h2{
    overflow: hidden;
}
.skills__h4{
    font-weight: 600;
    font-size: 30px;
    color: #009CFF;
}
.skills__content-frontEnd,
.skills__content-backEnd,
.skills__content-otros{
    padding: 30px 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~ PORTFOLIO ~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.portfolio__h3{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.content-img{
    width: 200px;
    height: 200px;
    padding: 10px;
}
.content-img img{
    border-radius: 5px;
    border: 1px solid #ddd;
}
.portfolio__content-carrousel{
    margin: 30px 0;
}
.carousel-inner{
    border-radius: 3px;
}
#portfolio__content-text1,
#portfolio__content-text2,
#portfolio__content-text3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer{
    background-color: rgb(20, 20, 20);
}
.footer__content-contacto{
    margin: auto;
    padding: 25px 0;
}
.content-contacto__text{
    color: #c8c8c8;
    text-align: center; 
}
.content-contacto__text h2{
    font-size: 40px;
    font-weight: 300;
}
.content-contacto__text h3{
    font-weight: 300;
    font-size: 25px;
}
.footer__content-redes{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    padding: 20px 0;
}
.footer__content-redes > p{
    padding: 8px;
    margin: 0;
    border-radius: 50%;
    border: 1px solid rgb(80, 80, 80);
    transition: background-color .5s,
                transform .3s;
}
.footer__content-redes > p:hover{
    transform: scale(1.2);
}

.content-redes__linkedin:hover{
    background-color: #007bb5;
}
.content-redes__github:hover{
    background-color: #171515;
}
.content-redes__facebook:hover{
    background-color: #3b5998;
}
.content-redes__instagram:hover{
    background-color: #125688;
}
.footer__content-redes > p a{
    color:  rgb(80, 80, 80);
    padding: 6px;
    transition: color .3s;
    font-size: 20px;
}
.footer__content-redes > p:hover a{
    color: #ddd;
}
.footer__content-text{
    background: #000;
    color: rgb(150, 150, 150);
    padding: 10px 0;
    text-align: center;
    border-top: rgb(80, 80, 80) 1px solid;
}
.content-contacto__text > p span{
    color: rgb(80,80,80);
    margin-right: 6px;
}
.footer__content-text span{
    color: #009CFF;
    font-weight: 500;
}







/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~ MEDIA QUERY ~~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ---------------------------------------- */
/* ---------------- TABLET ---------------- */
/* ---------------------------------------- */
@media screen and ( max-width: 768px ){
    .title-h2{
        font-size: 36px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    .title-h3{
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 600;
    }
    .title-h4{
        font-size: 20px;
        font-weight: 500;
        color: rgb(80, 80, 80);
    }
    p{
        font-size: 16px;
    }
    
    /* ---------------------- */
    /* ------- SKILLS ------- */
    /* ---------------------- */
    .skills__content-frontEnd,
    .skills__content-backEnd,
    .skills__content-otros{
        padding: 0;
        padding-top: 18px;
    }
    /* ---------------------- */
    /* ------- FOOTER ------- */
    /* ---------------------- */
    .footer__content-redes{
        width: 55%;
    }

}/* Fin Tablet */



/* ---------------------------------------- */
/* ---------------- MOBILE ---------------- */
/* ---------------------------------------- */
@media screen and ( max-width: 575px){
    
    .title-h2{
        font-size: 30px;
        letter-spacing: 2px;
        font-weight: 500;
    }
    .title-h3{
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .title-h4{
        font-size: 19px;
        font-weight: 500;
        color: rgb(80, 80, 80);
    }
    p{
        font-size: 15px;
    }

    #collapsibleNavId{
        text-align: center;
    }
    /* ---------------------- */
    /* -------- HOME -------- */
    /* ---------------------- */
    .text-img div.container{
        align-items: center;
    }
    .text-img h1{
        font-size: 50px;
    }
    .text-img h2{
        font-size: 35px;
    }
    .text-img div h1,
    .text-img div h2{
        text-align: center;
    }
    /* ---------------------- */
    /* ------ ABOU-TME ------ */
    /* ---------------------- */
    .content-text-presentacion{
        text-align: center;
    }
    .about-me__content-separador{
        display: flex;
        justify-content: center;
    }
    .about-me__content-separador hr{
        width: 80%;
    }
    /* ---------------------- */
    /* ------- SKILLS ------- */
    /* ---------------------- */
    .icon-skill p{
        font-size: 16px;
    }
    /* ---------------------- */
    /* ------- FOOTER ------- */
    /* ---------------------- */
    
    .footer__content-text p{
        font-size: 13px;
    }
    .footer__content-text p span{
        font-weight: 500;
    }
    h2.contacto__text--h2{
        font-size: 28px;
        font-weight: 350;
    }
    h3.contacto__text--h3{
        font-size: 20px;
    }
    /* Content redes */
    div.footer__content-redes{
        width: 80%;
    }
    .footer__content-redes > p a{
        font-size: 16px;
    }

    .content-contacto__text > p{
        font-size: 14px;
    }
    .content-contacto__text > p span{
        margin-right: 5px;
        font-size: 15px;
    }
    /* .contacto__text--telefono span{
        color: #4dc247;
    }
    .contacto__text--email span{
        color: #dd4b39;
    }
    .contacto__text--ubicacion span{
        color: #ff3c00;
    } */

}/* Fin mobile */